{% extends 'back/base.html' %}

{% block content %}
<div class="registrationsdiv">
    <div class="formspage">
        <h1>Confirm Delete Patient</h1>
        <p>Are you sure you want to delete patient <strong>"{{ patient.name }}" ?</strong> </p>
       
        <form method="POST" class="reg-form">
            {% csrf_token %}
            <div class="mb-3 row">
                <div style="display: flex; gap: 5rem;">
                    <button class="btn btn-primary col-sm-6" type="submit">Confirm Delete</button>
                    <div class="col-sm-6">
                        <a class="btn btn-danger" href="{% url 'patients:patient_detail' patient.pk %}"> Cancel </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
</body>

</html>