{% extends 'back/base.html' %}

{% block content %}
<center>
    <h1>Patient Detail</h1>
</center>

<div class="registrationsdiv">
    <div class="formspage" style="min-width: 50%;">
        <form class="reg-form">
            <div class="mb-3 row">
                <label for="name" class="col-sm-4 col-form-name"><strong>Name:</strong></label>
                <div class="col-sm-8">
                    {{ patient.name }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="age" class="col-sm-4 col-form-age"><strong>Age:</strong></label>
                <div class="col-sm-8">
                    {{ patient.age }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="gender" class="col-sm-4 col-form-gender"><strong>Gender:</strong></label>
                <div class="col-sm-8">
                    {{ patient.gender }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="address" class="col-sm-4 col-form-address"><strong>Address:</strong></label>
                <div class="col-sm-8">
                    {{ patient.address }}
                </div>
            </div>
            <div class="mb-3 row">


                <div style="display: flex; gap: .5rem;">
                    {% if user.is_authenticated %}
                    {% if user.role == 'admin' or user.role == 'doctor' %}
                    <div class="col-sm-4">
                        <a class="btn btn-primary" href="{% url 'patients:patient_update' patient.pk %}">Update</a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-danger" href="{% url 'patients:patient_delete' patient.pk %}">Delete</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="col-sm-4">
                        <a class="btn btn-primary"
                            href="{% url 'patients:individual_patient_report' patient.pk %}">Report</a>
                    </div>

                </div>
            </div>



            <!-- </div>
    <div class="mb-3 row">
        <a href="{% url 'patients:patient_update' patient.pk %}">Update</a>
    </div>
    <div class="mb-3 row">
        <a href="{% url 'patients:patient_delete' patient.pk %}">Delete</a>
    </div> -->

            <!-- <div class="mb-3 row" style="display: flex;">
        <button type="button" class="btn btn-primary"><a href="" style="color: white; font-weight: bold;">
                Edit</a></button>
        <div class="col-sm-10">
            <button type="button" class="btn btn-danger" style="color: white; font-weight: bold;">Delete</button>
        </div>
    </div> -->
        </form>
    </div>
</div>


{% endblock %}