{% extends 'back/base.html' %}

{% block content %}
<!-- What we do-->
<div class="container-fluid">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <hr>
  <div class="container-fluid">
    <h1 style="text-align: center;">Profile</h1>
    {% if request.session.user_type %}
    <div class="alert alert-success forms" role="alert">
      <!-- Access session data -->
      <p> You logged in as a: {{ request.session.user_type }}</p>
    </div>
    {% endif %}
    <div class="cards">
      <div class="card" style="overflow-x:auto;">
        <h2>Card 1</h2>
        <h2>you logged in as: {{ request.session.user_type }}</h2>
        <div class="registrationsdiv">
          <div class="formspage">
            <form method="POST" class="reg-form">
              {% csrf_token %}

              <div class="fieldWrapper" style="margin: 0;">
                {{ form.patients.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username: </label>
                {{ form..patients.username }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email: </label>
                {{ form.email }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Password: </label>
                {{ form.password1 }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Password(Again): </label>
                {{ form.password2 }}
              </div>

              <div class="fieldWrapper" style="margin: 0;">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Name: </label>
                {{ form.name }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.role.errors }}
                <label for="{{ form.role.id_for_label }}">Role: </label>
                {{ form.role }}
              </div>
              <div class="fieldWrapper">
                <!-- <button type="submit">{% if form.instance.pk %} Update {% else %} Create {% endif %}</button> -->
                <button type="submit">Create </button>
              </div>
              <!-- <button type="submit">Register</button> -->
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>
{% endblock %}