{% extends 'back/base.html' %}

{% block content %}
<!-- What we do-->
<div class="container-fluid">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <hr>
  <div class="container-fluid">
    <h1 style="text-align: center;">Profile</h1>
    {% if request.session.user_type %}
    <div class="alert alert-success forms" role="alert">
      <!-- Access session data -->
      <p><h2> You <strong>{{ request.user.username}} </strong> logged in as:<strong> {{ request.session.user_type }} </strong> </h2></p>
    </div>
    {% endif %}
    <div class="cards">
      <div class="card" style="overflow-x:auto;">
        <!-- Start here data -->
        <div class="registrationsdiv">
          <div class="formspage">
            <!-- <center> -->
            <h1>
              {% if form.instance.pk %}
              Update Doctor
              {% else %}
              Create Doctor
              {% endif %}
            </h1>


            <!-- <center><h2>Add New Doctor: </h2></center> -->

            <form method="POST" >
              {% csrf_token %}

              <div class="fieldWrapper" style="margin: 0;">
                {{ form.user.errors }}
                <label for="{{ form.user.id_for_label }}">Users: </label>
                {{ form.user }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.name.errors }}
                <label for="{{ form.username.id_for_label }}">Name: </label>
                {{ form.name }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.specialty.errors }}
                <label for="{{ form.email.id_for_label }}">Specialty: </label>
                {{ form.specialty }}
              </div>

              <div class="fieldWrapper">
                <button type="submit">{% if form.instance.pk %} Update {% else %} Create {% endif %}</button>
              </div>

            </form>
          </div>
        </div>

        <!-- End here data -->

      </div>
    </div>
  </div>
</div>
{% endblock %}