{% extends 'back/base.html' %}

{% block content %}
<center>
    <h1>Patient Detail</h1>
</center>
<center>
<div class="registrationsdiv">
    <div class="formspage" style="min-width: 50%;">
        <form class="reg-form">
            <div class="mb-3 row">
                <label for="name" class="col-sm-4 col-form-name"><strong>Name:</strong></label>
                <div class="col-sm-8">
                    {{ doctor.name }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="age" class="col-sm-4 col-form-age"><strong>Speciality:</strong></label>
                <div class="col-sm-8">
                    {{ doctor.specialty }}
                </div>
            </div>
          
           
            <div class="mb-3 row">
                <div style="display: flex; gap: .5rem;">
                    <div class="col-sm-4">
                        <a class="btn btn-primary" href="#">Update</a>     
                    </div>

                    <div class="col-sm-4">
                        <a class="btn btn-danger" href="#">Delete</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</center>

{% endblock %}