*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: static;
    background-color: #333; /* Background color for the header */
    color: rgba(251, 250, 250, 0.995); /* Text color for the header */
    padding: 5px; /* Padding around the header content */
    text-align: center; /* Center-align the header content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle lift effect */
}
header h1{
    color: #fff;
}
.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.content {
    display: flex; /* Added */
}


/* Sidebar styles */
.menucontent {
    background-color: #555;
    color: #fff;
    width: 250px;
    min-height: 100vh; /* Updated */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    transition: width 0.3s;
    margin-top: 0px;
    z-index: 999;
}


hr{
    color: aliceblue;
    line-height: 22px;
}

h1 {
    color: #333;
    /* font-size: 24px; */
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    flex-basis: 100%;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(226, 229, 229, 0.1); */
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /* flex: 0 0 calc(50% - 10px); */
}
/* .cards:nth-child(1):nth-child(2):nth-child(3) {
    flex-basis: 25%;
} */
/* Main content styles */
.homecontent {
    flex: 1;
    padding: 10px;
}
/* @media (max-width: 768px) { */

 @media only screen and (max-width: 768px) {
    .menucontent {
        width: 160px;
        display: block;
        /* padding: 5px; */
        /* flex-wrap: wrap; */
        /* display: table; */
    }
    .menucontent .sidebarItem li a{

        /* font-size: 1.5rem; */
        color: white;
        /* font-weight: bold; */
        width: 100%;
    }
    .menucontent .collapsed {
        width: 100%;
        /* flex-wrap: wrap; */
        /* display: table; */
    }
    .cards{
        display: flex;
    }
    .card{
        flex-basis: 100%;
        width: 100%;
    }
}


/* sidebar menu item */
.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} 

.menucontent .sidebarItem li a img{
    display: flex;
    align-items: center;
    justify-content: center;
}


.menucontent .sidebarItem{
    padding: 5px;
    list-style: none;
}
.menucontent .sidebarItem li{
    padding: 5px;
}
.menucontent .sidebarItem li:hover{
    padding: 5px;
    background-color: beige;
    color: black;
}

.menucontent .sidebarItem li:hover a{
    color: black;
}


.sidebarItem .sub-items {
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: none;
    list-style: none;
}

.menucontent .sidebarItem li {
    color: black;
    border-radius: 10px;
    transition: 0.7s;
    width: 100%;
}

.sidebarItem li a{
 
    flex-wrap: wrap;
    color: white;
    width: 100%;
}

.sidebarItem .sub-items ul {
    list-style: none;
}

.sidebarItem .sub-items ul li {
    list-style: none;
}


.sidebarItem .sub-items li a {
    /* padding: 10px; Adjusted padding to 10px */
    /* font-size:1.5rem; Adjusted font-size to 1.5rem */
    color: white;
    text-decoration: none;
}
.sidebarItem .sub-items li a:hover {
    background-color: aqua;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.7s;
}


/* Tables */
    /* Responsive styles */
@media only screen and (max-width: 768px) {
        th, td {
          display: block;
          width: 100%;
          box-sizing: border-box;
        }
  
        th {
          text-align: center;
        }
      }


/* for forms  */
/* a registrations form css */
.registrationsdiv{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    margin-bottom: auto; 
    
}

.formspage{
    padding: 30px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    /* box-shadow: 10px 10px 20px 0px rgba(41, 206, 195, 0); */
    
}
.reg-form{
    display: block;
    padding: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* font-weight: bold; */
}

/* for registran form */
.fieldWrapper {
    margin-bottom: 10px;
  }
.fieldWrapper label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    
  }
.fieldWrapper input[type="text"],
.fieldWrapper input[type="email"],
.fieldWrapper input[type="number"],
.fieldWrapper input[type="date"],
.fieldWrapper input[type="password"],
.fieldWrapper button[type="submit"],
.fieldWrapper input[type="submit"],
.fieldWrapper textarea,
.fieldWrapper select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.fieldWrapper input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .fieldWrapper input[type="submit"]:hover {
    background-color: #45a049;
  }


  .fieldWrapper button[type="submit"]:hover {
    background-color: #45a049;
    color: white;
  }
  .fieldWrapper button[type="submit"] {
    background-color: #45a049;
    color: white;
  }


