{% extends 'front/base.html' %}

{% block title %} logout {% endblock %} | PDS

{% block content %}
<div class="container">
  <div class="registrationsdiv">
    <div class="formspage">
      {% block page %} <h2>Logout {% endblock %} | Form</h2>
      <h1>Welcome, Go!</h1>
      <form method="POST" class="reg-form">
        {% csrf_token %}
        
        
        <div class="fieldWrapper">
            <!-- <button type="submit">{% if form.instance.pk %} Update {% else %} Create {% endif %}</button> -->
            <button type="submit"> Login </button>
        </div>
        
       
    </form>
    </div>
  </div>
</div>
{% endblock %}