
{% extends 'back/base.html' %}

{% block content %}
<!-- What we do-->
<div class="container-fluid">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <hr>



  <div class="container-fluid">
    <h1 style="text-align: center;">Profile</h1>
    {% if request.session.user_type %}
    <div class="alert alert-success forms" role="alert">
      <!-- Access session data -->
      <p><h2> You <strong>{{ request.user.username}} </strong> logged in as:<strong> {{ request.session.user_type }} </strong> </h2></p>
    </div>
    {% endif %}
 
  </div>


</div>
{% endblock %}

