{% extends 'base.html' %}

{% block content %}
<div class="registrationsdiv">
    <div class="formspage" style="min-width: 50%;">
        <form method="POST" class="reg-form">
            {% csrf_token %}
            
            <div class="fieldWrapper" style="margin: 0;">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username: </label>
                {{ form.username }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email: </label>
                {{ form.email }}
              </div>
              <!-- <div class="fieldWrapper" style="margin: 0;">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password: </label>
                {{ form.password }}
              </div> -->
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Password: </label>
                {{ form.password1 }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Password(Again): </label>
                {{ form.password2 }}
              </div>

              <div class="fieldWrapper" style="margin: 0;">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Name: </label>
                {{ form.name }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.role.errors }}
                <label for="{{ form.role.id_for_label }}">Role: </label>
                {{ form.role }}
              </div>
              <div class="fieldWrapper">
                <!-- <button type="submit">{% if form.instance.pk %} Update {% else %} Create {% endif %}</button> -->
                <button type="submit">Create </button>
              </div>
            <!-- <button type="submit">Register</button> -->
        </form>
    </div>
</div>
{% endblock %}