

{% extends 'back/base.html' %}

{% block content %}
<!-- What we do-->
<div class="container-fluid">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <hr>
<div class="container-fluid">
  <h1 style="text-align: center;">Profile</h1>
  {% if request.session.user_type %}
  <div class="alert alert-success forms" role="alert">
    <!-- Access session data -->
    <p><h2> You <strong>{{ request.user.username}} </strong> logged in as:<strong> {{ request.session.user_type }} </strong> </h2></p>
  </div>
  {% endif %}
  <div class="cards">
    <div class="card" tyle="overflow-x:auto;">
      	   <!-- Start here data -->	   
<center>
    <h1>Users List</h1>
    <div class="row">
        <form method="get" style="display: flex; gap: 0.5rem; align-items: center; justify-content: center;">

            <!-- <div class="row" style="display: flex; gap: 0.1rem; align-items: center; justify-content: center;"> -->

                <div class="fieldWrapper">
                    <strong>Search: </strong>
                </div>
                <div class="fieldWrapper" style="margin: 0;">
                    {{ search_form.search_query }}
                </div>
                <div class="fieldWrapper" style="margin: 0;">
                    {{ search_form.search_by }}
                </div>
                <div class="fieldWrapper">
                    <input type="submit"  value="Search" />
                </div>
            <!-- </div> -->
            <!-- {{ search_form.search_query }}
            {{ search_form.search_by }}
             -->

        </form>
    </div>


    <div class="registrationsdiv">
        <div class="formspage">
            <form method="GET">

                <div class="table-wrapper">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="gap: 10rem;">
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                             
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
								 <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                
                                <td>
                                    <button type="button" class="btn btn-primary"><a
                                            href="{% url 'users:users_detail' user.pk %}" 
                                            style="color: white; font-weight: bold;"> Detail</a></button>

                                </td>
                                {% endfor %}
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>

</center>

 <!-- End here data -->

    </div>
  </div>
</div>


</div>
{% endblock %}
