{% extends 'back/base.html' %}

{% block content %}
<!-- What we do-->
<div class="container-fluid">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <hr>
  <div class="container-fluid">
    <h1 style="text-align: center;">Profile</h1>
    {% if request.session.user_type %}
    <div class="alert alert-success forms" role="alert">
      <!-- Access session data -->
         <p><h2> You <strong>{{ request.user.username}} </strong> logged in as:<strong> {{ request.session.user_type }} </strong> </h2></p>
  
    </div>
    {% endif %}
    <div class="cards">
      <div class="card" tyle="overflow-x:auto;">
        <!-- Start here data -->
        <div class="registrationsdiv">
          <div class="formspage" style="min-width: 50%;">
            <!-- <center> -->
            <h1>
              {% if form.instance.pk %}
              Update Appointment
              {% else %}
              Create Appointment
              {% endif %}
            </h1>

            <form method="post" class="reg-form">
              {% csrf_token %}

              <div class="fieldWrapper" style="margin: 0; display: flex;">
                {{ form.time.errors }}
                <label for="{{ form.user.id_for_label }}">Time: </label>
                {{ form.time }}
              </div>

              
              <!--  -->
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.patient.errors }}
                <label for="{{ form.address.id_for_label }}">Patient: </label>
                {{ form.patient }}
              </div>

              <div class="fieldWrapper" style="margin: 0;">
                {{ form.doctor.errors }}
                <label for="{{ form.phone_number.id_for_label }}">Doctor: </label>
                {{ form.doctor }}
              </div>
              <div class="fieldWrapper" style="margin: 0;">
                {{ form.reason.errors }}
                <label for="{{ form.medical_history.id_for_label }}">Reason: </label>
                {{ form.reason }}
              </div>
              

              <div class="fieldWrapper">
                <button type="submit">{% if form.instance.pk %} Update {% else %} Create {% endif %}</button>
              </div>

            </form>
          </div>
        </div>

        <!-- End here data -->

      </div>
    </div>
  </div>
</div>
{% endblock %}