{% extends 'front/base.html' %}

{% block content %}
<center>
    <h1>Patients List</h1>
    <div class="row">
        <form method="get" style="display: flex; gap: 0.5rem; align-items: center; justify-content: center;">

            <!-- <div class="row" style="display: flex; gap: 0.1rem; align-items: center; justify-content: center;"> -->

                <div class="fieldWrapper">
                    <strong>Search: </strong>
                </div>
                <div class="fieldWrapper" style="margin: 0;">
                    {{ search_form.search_query }}
                </div>
                <div class="fieldWrapper" style="margin: 0;">
                    {{ search_form.search_by }}
                </div>
                <div class="fieldWrapper">
                    <input type="submit"  value="Search" />
                </div>
            <!-- </div> -->



            



            <!-- {{ search_form.search_query }}
            {{ search_form.search_by }}
             -->

        </form>
    </div>


    <div class="registrationsdiv">
        <div class="formspage">
            <form class="reg-form">

                <div class="table-wrapper">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="gap: 10rem;">
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">age</th>
                                <th scope="col">gender</th>
                                <th scope="col">address</th>
                                <th scope="col">phone_number</th>
                                <th scope="col"> medical_history</th>
                                <th scope="col">created_at</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ patient.name }}</td>
                                <td>{{ patient.age }}</td>
                                <td>{{ patient.gender }}</td>
                                <td>{{ patient.address }}</td>
                                <td>{{ patient.phone_number }}</td>
                                <td>{{ patient.medical_history }}</td>
                                <td>{{ patient.created_at }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"><a
                                            href="{% url 'patients:patient_detail' patient.pk%}"
                                            style="color: white; font-weight: bold;"> Detail</a></button>

                                </td>
                                {% endfor %}
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>

</center>
{% endblock %}