* {
    margin: 0;
    padding: 0;
}

body {
    /* color: rgba(236, 236, 236, 0.929); */
    /* background-color: rgba(255, 255, 255, 0.49); */
    min-height: 10vh;
    background-image: url(landing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-color: #333;
    /* Background color for the header */
    color: #fff;
    /* Text color for the header */
    padding: 5px;
    /* Padding around the header content */
    text-align: center;
    /* Center-align the header content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add a box shadow for a subtle lift effect */
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}


/* Style the icon */
.icon {
    float: left;
    font-size: 30px;
    cursor: pointer;
}

/* Style the navigation */
nav {
    position: relative;
    top: 100%;
    padding: 10px;
    width: 100%;
    background-color: #bce7b5;
    z-index: 2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}

/* Style the navigation links */
nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
}

nav li {
    height: 40px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 22px;
}


nav li:first-child {
    margin-right: 40%;
    font-size: 2.5rem;
    font-weight: bold;
}

nav a:hover {
    border-radius: 10px;
    transition: 0.7s;
    color: black;
    background-color: #a6a6eb;
}

/* Show the navigation when the icon is clicked */
/*
.menu:hover nav {
    display: block;
}*/


/* side bar menu */
.sidebar {
    position: absolute;
    margin-top: auto;
    right: 0;
    height: 100vh;
    width: 200px;
    display: none;
    backdrop-filter: blur(100px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0px 10px rgba(245, 222, 179, 0.1);
    background-color: #bce7b5;
    ;
    border-radius: 20px;
    padding: 10px;
    z-index: 999;
    opacity: 1;
    transition: 0.8s;
    overflow: hidden;

}

.sidebar li:nth-child(2) {
    /* Styles for the second <li> element */
    color: blue;
    font-style: italic;
    /* Add any other styles you want to apply */
}

.sidebar li {
    width: 100%;
    padding: 5px;
    transition: 0.8s;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* make responsive */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    nav li:first-child {
        margin-right: 10px;
    }
}

/* a registrations form css */
.registrationsdiv {

    width: 100%;
    /* Ensure it takes the full width of its parent */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Center horizontally */
    margin-bottom: auto;

}

.formspage {
    /* padding: 10px; */
    display: block;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 10px 10px 20px 0px rgba(41, 206, 195, 0); */
}

/* .reg-form {
    display: block;
    padding: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
} */

/* for registran form */
.fieldWrapper {
    margin-bottom: 10px;
}

.fieldWrapper label {
    width: 100%;
    display: block;
    margin-bottom: 5px;

}

.fieldWrapper input[type="text"],
.fieldWrapper input[type="email"],
.fieldWrapper input[type="number"],
.fieldWrapper input[type="date"],
.fieldWrapper input[type="password"],
.fieldWrapper button[type="submit"],
.fieldWrapper input[type="submit"],
.fieldWrapper textarea,
.fieldWrapper select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.fieldWrapper input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.fieldWrapper input[type="submit"]:hover {
    background-color: #45a049;
}


.fieldWrapper button[type="submit"]:hover {
    background-color: #45a049;
    color: white;
}

.fieldWrapper button[type="submit"] {
    background-color: #45a049;
    color: white;
}




/* footer css */
.footer-main {
    margin-top: auto;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10px 0px 10px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    font-size: 13px;
}

.rows {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.colms {
    display: block;
    padding: 1rem;
}

.colms:nth-child(1):nth-child(2):nth-child(3) {
    flex-basis: 100%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}



/* Sidebar styles */
.adminsidebar {
    border: rgb(87, 43, 43) solid 1;
    height: 100%;
    width: 250px;
    position: fixed;
    top: auto;
    left: 0;
    background-color: #f1f1f1;
    padding: 15px;
}



/* Sidebar link styles */
.adminsidebar ul {
    list-style-type: none;
    padding: 0;
}

.adminsidebar ul li {
    margin-bottom: 10px;
}

.adminsidebar ul li a {
    text-decoration: none;
    color: black;
}